<% include ../partials/header.ejs %>

<div class="container general-container">
    <div class="row">
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="image-responsive" src="<%= restaurant.image %>">
                <div class="caption-full">
                    <h4 class="pull-right"><%= restaurant.price || "Price Unavailable" %></h4>
                    <h4><a><%= restaurant.name %></a></h4>
                    <p><%= restaurant.description || "Currently no description available" %></p>
                    <p><em>Profile Created By: <%= restaurant.author.username %></em></p>
                    <% if(cur_user && restaurant.author.id.equals(cur_user._id)){ %>
                        <a class="btn btn-warning" href="/restaurants/<%= restaurant._id %>/edit">Edit</a>
                        <form class="inline-form" action="/restaurants/<%= restaurant._id %>?_method=DELETE", method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-primary" href="/restaurants/<%= restaurant._id %>/comments/new">Post Your Comment for This Restaurant</a>
                </div>
                <% for (var c of restaurant.comments){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= c.author.username %></strong>
                        <span class="pull-right">1970-01-01</span>
                        <p><%= c.content %></p>
                        <% if(cur_user && c.author.id.equals(cur_user._id)){ %>
                            <a class="btn btn-xs btn-warning" href="/restaurants/<%= restaurant._id %>/comments/<%= c._id %>/edit">Edit</a>
                            <form class="inline-form" action="/restaurants/<%= restaurant._id %>/comments/<%= c._id %>?_method=DELETE", method="POST">
                                <button class="btn btn-xs btn-danger">Delete</button>
                            </form>
                        <% } %>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <div class="col-md-3">
            <div class="list-group">
                <li class="list-group-item">Item1</li>
                <li class="list-group-item">Item2</li>
                <li class="list-group-item">Item2</li>
            </div>
            <div id="map"></div>
        </div>
    </div>
</div>

<script>
    function initMap() {
        var lat = <%= restaurant.lat %>;
        var lng = <%= restaurant.lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = "<strong><%= restaurant.name %><br /><%= restaurant.location %></strong><p><%= restaurant.description %></p>"
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvi08PTZ2smR_rG4GAhQ8Mq9M4PMaUTvU&callback=initMap"></script>


<% include ../partials/footer.ejs %>